# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Galaxy Shootout 2D.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\01_Lessons\GameDevHQ\Galaxy Shootout 2D\.idea\.idea.Galaxy Shootout 2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
